<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Strategy Information Site</h1>
      <h2 class="fw-light">・・・攻略情報サイト・・・</h2>
      <p class="lead text-muted">ココはゲーム攻略情報投稿サイトです。ゲームのことの攻略情報を投稿して、共有しよう。間違った情報は投稿しないでな</p>
      <p>
        {% if user.is_authenticated %}
        <a href="{% url 'photo:post' %}" class="btn btn-primary my-2">攻略情報を投稿する</a>
        <a href="{% url 'accounts:logout' %}" class="btn btn-secondary">ログアウト</a>
        {% else %}
        <a href="{% url 'accounts:signup' %}" class="btn btn-primary my-2">サインアップ</a>
        <a href="{% url 'accounts:login' %}" class="btn btn-secondary my-2">ログイン</a>
        {% endif %}
      </p>
    </div>
  </div>
</section>